<div *ngIf="quizState.initialized && !quizState.completed && !quizState.started"
     class="splash-start full-height">
    <div class="splash-header full-width layer-2 text-center">
        <div class="padded">
            <div *ngIf="quizState.getTitle()" class="quiz-title">
                {{quizState.getTitle()}}
            </div>
            <div *ngIf="quizState.getSubTitle()" class="quiz-sub-title">
                {{quizState.getSubTitle()}}
            </div>
            <div class="note">
                <span *ngIf="quizState.getQuizWords().length" i18n="Quiz these [N] Words">Quiz these {{quizState.getQuizWords().length}} words</span>
                <span *ngIf="!quizState.getQuizWords().length" i18n>You have completed this Quiz</span>
            </div>
        </div>
    </div>
    <div class="splash-body full-width full-height layer-1">

        <div class="splash-word-list full-width">
            <div *ngFor="let quizWord of quizState.getQuizWords()" class="word layer-2">
                <i class="word-state-icon"></i>
                <i class="word-state-icon"></i>
                <span>{{quizWord.word.wordRootOrthography}}</span>
            </div>
            <div *ngFor="let quizWord of quizState.getDormantWords()" class="word layer-2">
                <i class="word-state-icon"></i>
                <i class="word-state-icon dormant"></i>
                <span>{{quizWord.word.wordRootOrthography}}</span>
            </div>
            <div *ngFor="let quizWord of quizState.getMasteredWords()" class="word layer-2">
                <i class="word-state-icon"></i>
                <i class="word-state-icon mastered"></i>
                <span>{{quizWord.word.wordRootOrthography}}</span>
            </div>
            <div class="word-list-bg layer-1"></div>
        </div>
        <div class="foot-push"></div>
    </div>
    <div class="splash-footer full-width text-center layer-2">
        <div class="padded">
            <button class="btn btn-success"
                    *ngIf="quizState.getQuizWords().length"
                    (click)="quizState.start()"
                    i18n
            >Start Quiz</button>
        </div>
    </div>
</div>