.end-screen {
    background-color: #A28BCB;
    color: #000;
    position: absolute;
    font-weight: 600;
}

.rays {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/ec3.4/applets/html5-quiz/rays.png");
    background-color: transparent;
    position: absolute;
    margin: auto;
    height: 100%;
    width: 100%;
}

.stars-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.star {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/ec3.4/applets/html5-quiz/star.png");
    background-color: transparent;
    background-size: 7px 7px;
    position: absolute;
    margin: auto;
    height: 7px;
    width: 7px;
}

.end-screen-img {
    height: 95px;
    padding: 20px 0 5px 0;
    background-image: url("/images/ec3.4/applets/html5-quiz/quiz-icon-white.png");
    background-size: 60px 70px;
    background-position: center 20px;
    background-repeat: no-repeat;
}

.end-screen-message {
    font-size: 36px;
    padding: 5px 0;
}

.activity-points {
    color: #C56223;
    background-image: url("/images/ec3.4/applets/html5-quiz/coin.png");
    background-size: 45px 45px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    width: 45px;
}

.note {
    padding: 5px 0 0 0;
    color: #666;
    font-size: 18px;
}

.letter-grade {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
}

.word-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

.word-list .word {
    padding: 5px 5px 0px 33px;
}

.word-list .word.complete {
    background-image: url("/images/ec3.4/applets/html5-quiz/correct.png");
    background-position: 7px 6px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    color: #336633;
}

.word-list .word.incomplete {
    background-image: url("/images/ec3.4/applets/html5-quiz/incorrect.png");
    background-position: 7px 6px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    color: #FF0000;
}