<div *ngIf="quizState.initialized && !quizState.completed && quizState.started"
     class="questions full-height">
    <div
            (@questionAnimation.done)="animationDone($event)"
            [@questionAnimation]="animationState"
            [style.transform]="'translateX(-100%)'"
            class="quiz-question full-width col-xs-12">
        <div class="question-label">
            <div *ngIf="getQuestion().isTypeMatch()"
                 [class.audio-playing]="audio && audio.isPlaying"
                 (mouseenter)="audio.play()"
                 class="quiz-orthography"
            >
                <span class="icon"></span>
                <span>{{getQuestion().getWord().wordRootOrthography}}</span>
            </div>
        </div>
        <div [class.text-center]="!getQuestion().isTypeMatch()" class="question-video-wrap text=center">

            <div class="question-video">
                <ec-video
                        [videoId]="'quiz-question'"
                        [videoUrl]="getQuestion().getExample().videoURL"
                        [poster]="getQuestion().getExample().thumbnailURL"
                        [videoOptions]="{
                            width: 220,
                            height: 120,
                            controls: true,
                            controlBar: false
                        }"
                >
                </ec-video>
            </div>

            <div *ngIf="getQuestion().isTypeMatch()"
                 class="text-center">
                <ec-transcript
                        [transcript]="getQuestion().getExample().transcript"
                        [orthography]="getQuestion().getExample().word.orthography"
                        class="text-left"
                ></ec-transcript>
            </div>
        </div>
        <div class="question-choices row">
            <div class="col-xs-12">
                <div class="note text-center font-small">
                <span *ngIf="getQuestion().isTypeMatch()" i18n>Select the matching definition</span>
                </div>
                <div class="stagger-buttons">
                    <button *ngFor="let choice of getQuestion().getChoices()"
                            (click)="quizState.getQuizProgress().answerQuestion(choice)"
                            [ngClass]="getButtonClass(choice)"
                            class="choice btn col-xs-12">
                        <div ng-if="getQuestion().isTypeMatch()"
                             class="choice-label"
                        >
                            {{choice.definition}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="progress-wrap full-width">
        <div class="progress-label"
             i18n="question X of Y"
        >Question {{quizState.getQuizProgress().getCurrentIndex()}} of {{quizState.getQuizProgress().getQuizWords().length}}</div>
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 [style.width]="quizState.getQuizProgress().getProgressBarWidth()">
            </div>
        </div>
    </div>
</div>